

a.btn {
    width: 97%;
    padding: 10px;
    background-color: #3d2224;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

    a.btn:hover {
        background-color: #3d2224;
    }

main {
    padding: 30px;
    margin: 20px;
}

/*textarea {
    display: block;
    width: 100%;
    height: 150px;
}*/

#otelSearchForm {
    /*background-color: #fff;*/
    background-color: transparent;
    padding: 30px;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    box-shadow: none !important;
    /*margin: 0 auto;*/
}

.sidebarcontainer {
    /*background-color: #3d2224;*/
    /*border-radius:8px;*/
}

.sidebar {
    border-radius: 8px;
}

.otelSearchFormContainer {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}


.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-size: 16px;
        font-weight: bold;
        color: #3d2224;
        display: block;
        margin-bottom: 8px;
        padding-left: 12px;
    }


/*.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

    .form-control:focus {
        border-color: #aad665;
        outline: none;
    }*/

#araButton {
    background-color: #3d2224;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

    #araButton:hover {
        background-color: #3d2224;
    }

hr {
    border: 0;
    border-top: 2px solid #aad665;
    margin-top: 30px;
}

form {
    /*max-width: 900px;*/
    margin: 30px auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #444;
    margin-bottom: 17px;
}

input[type="text"], input[type="date"], input[type="number"], button {
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}

button {
    /*background-color: #3498db;*/
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

    .tag-container label {
        width: calc(50% - 10px);
        margin-right: 15px;
        font-size: 14px;
        color: #555;
    }

    .tag-container input[type="checkbox"] {
        margin-right: 8px;
    }


.min-max-container {
    display: flex;
    gap: 10px;
}

    .min-max-container input[type="number"] {
        flex: 1;
    }


.mt-2 {
    margin-top: 20px;
}


@media (max-width: 768px) {

    .tag-container label {
        width: 100%;
    }


    .min-max-container {
        flex-direction: column;
    }

        .min-max-container input[type="number"] {
            width: 100%;
            margin-right: 0;
        }

    button {
        width: 100%;
    }
}
