/* Sayfa margin ve padding */
body {
    margin: 0;
    padding: 0;
}

/* Navbar stili */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Kayan yazı */
.scrolling-text {
    background-color: #fffaf5;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    z-index: 999;
    display: flex;
    align-items: center;
}

    .scrolling-text p {
        position: absolute;
        white-space: nowrap;
        animation: scroll-text 9s linear infinite;
        font-size: 20px;
        margin: 0;
        padding-right: 100%;
        color: #aad665;
    }

@keyframes scroll-text {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* kullanıcı sadece dikey boyutlandırabilir */
    box-sizing: border-box;
}

